@define-color panel_fg_color #ddddde;
/*@define-color np_bg_color #333;*/

* {
    -GtkMenu-horizontal-padding: 0;
	-GtkMenu-vertical-padding: 0;
}

.wingpanel-menubar {
    border-width: 0;
    border-style: none;
    padding: 4;
    color: @panel_fg_color;
    background-color: alpha(#000, 0.75);
    /* needed to play well with rgba otherwise it perform an uneeded draw_background */
    -GtkMenuBar-shadow-type : none;

    -GtkMenuBar-internal-padding: 0;
}

